@font-face {
  font-family: 'oswald-light';
  src: url('../fonts/oswald-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswald-regular';
  src: url('../fonts/oswald-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswald-bold';
  src: url('../fonts/oswald-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sverdlovsk';
  src: url('../fonts/sverdlovskregular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('../fonts/MyriadPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}

.header {
  /* margin: 0; */
  /* align-items: center; */
  background-color: #F9DB79;
  height: 116px;
  border-bottom: 2px solid #fff;
}

.header-row {
  height: 100%;
  /* Если не указать высоту, то не будет центрироваться по вертикали - не сработает align-items-center */
}

/* .header-container {
  align-items:center;
} */

.button-wrapper {
  justify-content: center;
}

.button-header {
  background-color: #F9DB79;
  border: none;
  text-align: center;
  /* align-items:center; */
}

.button-header-icon {
  background-color: #F9DB79;
}

.face {
  display: flex;
  background-color: #F9DB79;
  /* width: 100%; */
  height: 100%;
  /* height: 965px; */
  justify-content: center;
  margin: 0 auto;
}

.face-text {
  height: 140px;
  margin-bottom: 0;
  margin-top: 15px;
  text-align: center;
  z-index: 20;
  /* align-items: center; */
  /* justify-content: center; */
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.first-line-text {
  font-family: 'oswald-bold';
  font-size: 170px;
  line-height: 1;
  color: #fff;
}

.face-image {
  justify-content: center;
  text-align: center;
  margin-top: -27px;
  margin: 0 auto;
}

.face-button {
  /* justify-content: center; */
  text-align: center;
  margin: 34px auto;
}

.face-button-menu {
  font-family: 'oswald-light';
  font-size: 68px;
  text-transform: uppercase;
  color: #fff;
  background-color: #F9DB79;
  padding: 8px 95px;
  border: 4px solid #fff;
}

.menu-panzorro {
  display: flex;
  justify-content: center;
}

.menu {
  margin: 0;
  font-family: 'Sverdlovsk';
  font-size: 200px;
  line-height: 150px;
  font-style: normal;
  font-weight: normal;
}

.titles-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 183px;
  margin-top: 138px;
}

.titles-2 {
  font-family: 'oswald-light';
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 20px;
}

.kebab,
.vegan {
  font-size: 102px;
  letter-spacing: -0.5px;
  line-height: 92px;
  margin: 0;
}

.kebab-menu {
  padding-left: 32px;
  /* display: flex; */
}

.vegan-menu {
  padding-left: 32px;
}

.menu-line {
  display: flex;
}

.dish-6 {
  padding-left: 32px;
}

.dish-12 {
  padding-left: 32px;
}

.napoj-frutki {
  display: flex;
}

.dish {
  font-family: 'oswald-light';
  margin-top: 0;
  /* height: 37px; */
}

.dish-title {
  font-size: 45px;
  margin-bottom: 0;
  margin-top: 20px;
  text-transform: uppercase;
}

.dish-text {
  margin-top: -10px;
  margin-bottom: 0;
  font-family: 'oswald-light';
  font-size: 19px;
}

.dish-title-desert {
  font-family: 'oswald-regular';
  font-size: 66px;
  margin-bottom: 0;
  margin-top: 38px;
  text-transform: uppercase;
}

.dish-title-desert span {
  font-family: 'oswald-light';
  font-size: 45px;
  margin-bottom: 0;
  margin-top: 20px;
  text-transform: uppercase;
}

.dish-text-desert {
  margin-top: -10px;
  margin-bottom: 0;
  font-family: 'oswald-light';
  font-size: 22px;
}

.dish p {
  text-align: left;
}

.button-line {
  margin-top: 23px;
  background-color: #fff;
  border: none;
  padding: 0;
}

.button-icon {
  background-color: #fff;
}

.button-desert {
  margin-top: 60px;
  background-color: #fff;
  border: none;
  padding: 0;

}

.sosy {
  padding-left: 32px;
  padding-right: 0;
  /* padding: 0; */
  /* display: flex; */
}

.dish-title-sosy {
  font-family: 'oswald-regular';
  font-size: 66px;
  margin-bottom: 91px;
  margin-top: 38px;
  text-transform: uppercase;
}

.dish-title-sosy-span {
  font-family: 'oswald-light';
  font-size: 45px;
  margin-bottom: 0;
  margin-top: 20px;
  margin-right: 8px;
  text-transform: none;
  /* text-transform: uppercase; */
}

.footer {
  height: 140px;
  display: flex;
  justify-content: center;
  background-color: #17191A;
  align-items: center;
}

.footer-row {
  height: 100%;
  /* аналогично с header-row (смотри примечание) */
}

.footer-text {
  /* font-family: 'oswald-light'; */
  font-family: 'Myriad Pro Regular';
  color: #fff;
  font-size: 32px;
}

.footer-social {
  margin-left: 40px;
}

.social-link {
  margin-left: 10px;
}

@media (min-width:1200px) and (max-width: 1400px){
  .titles-1 {
    /* display: flex; */
    /* justify-content: center; */
    margin-bottom: 123px;
    margin-top: 93px;
  }
  .kebab,
  .vegan {
    font-size: 82px;
    letter-spacing: -0.5px;
    line-height: 92px;
    margin: 0;
  }
  .dish-title {
    /* font-size: 45px; */
    font-size: 35px;
    /* margin-bottom: 0; */
    /* margin-top: 20px; */
    /* text-transform: uppercase; */
  }
  .dish-6 {
    padding-left: 22px;
  }
  .dish-12 {
    padding-left: 22px;
  }
  .dish-text {
    /* margin-top: -10px; */
    /* margin-bottom: 0; */
    /* font-family: 'oswald-light'; */
    /* font-size: 19px; */
    font-size: 18px;
  }
  .menu-line {
    justify-content: space-between;
  }
  .dish-title-desert {
    /* font-family: 'oswald-regular'; */
    /* font-size: 66px; */
    font-size: 50px;
    /* margin-bottom: 0; */
    /* margin-top: 38px; */
    /* text-transform: uppercase; */
  }

  .dish-title-desert span {
    /* font-family: 'oswald-light'; */
    /* font-size: 45px; */
    font-size: 35px;
    /* margin-bottom: 0; */
    /* margin-top: 20px; */
    /* text-transform: uppercase; */
  }

  .dish-title-sosy {
    /* font-family: 'oswald-regular'; */
    /* font-size: 66px; */
    font-size: 50px;
    /* margin-bottom: 91px; */
    /* margin-top: 38px; */
    /* text-transform: uppercase; */
  }

  .dish-title-sosy-span {
    /* font-family: 'oswald-light'; */
    /* font-size: 45px; */
    font-size: 35px;
    letter-spacing: 1.1;
    /* margin-bottom: 0; */
    /* margin-top: 20px; */
    /* text-transform: none; */
    /* text-transform: uppercase; */
  }
  .button-line {
    margin-top: 18px;
    /* background-color: #fff; */
    /* border: none; */
    /* padding: 0; */
  }
  .button-desert {
    margin-top: 50px;
  }
}

@media (max-width: 1200px) {
  .titles-1 {
    /* При уменьшении экрана прячем MENU и PanZorro на белом фоне */
    opacity: 0;
    /* Видимость 0 (нисколько света не задерживается в объекте) */
    visibility: hidden;
    /* Объект скрыт */
    position: absolute;
    /* Объект не взаимодействует с соседними блоками */
    z-index: -9;
    /* И вообще он находится позади экрана ))  */
  }
  .kebab-menu {
    padding-left: 0;
  }
  .vegan-menu {
    padding-left: 0;
  }
  .line-6, .dish-6, .dish-12 {
    padding-left: 0;
  }
  .row-panzorro {
    text-align: center;   /* Выравниваем заголовки меню по центру */
  }
  .line-1, .line-2, .line-3, .line-4, .line-5, .line-6 { /* Выравниваем строки меню по центру */
    justify-content: center;
  }
  .kebab,
  .vegan {
    margin-top: 50px;
  }
  
}

@media (max-width: 992px){
}



@media (max-width: 576px) {
  .header {
    height: 140px;
  }

  .header-row {
    justify-content: center;
  }

  .logo-header {
    text-align: center;
  }

  .first-line-text {
    font-size: 100px;
  }

}